# Dépendances
node_modules/
node_modules/**

# Dossiers de build/sortie
dist/
build/
.next/

# Fichiers spécifiques
package-lock.json
*.min.js
# Dossiers spécifiques
.cli-local/**
.doc/**
old_cli/**
output/**
plugins/**
project-test/**
tree/**