import { Injectable } from '@nestjs/common';
import { MailerService as NestMailerService } from '@nestjs-modules/mailer';

@Injectable()
export class MailerService {
constructor(private readonly mailerService: NestMailerService) {}

async sendWelcomeEmail(to: string, username: string) {
try {
await this.mailerService.sendMail({
to,
subject: 'Bienvenue sur Pressing Prestige !',
text: `Bonjour ${username}, bienvenue sur Pressing Prestige !`,
html: `<h1>Bienvenue ${username} !</h1>
<p>Merci de vous être inscrit sur notre plateforme.</p>`,
});

return { success: true, message: 'Email envoyé avec succès' };
} catch (error) {
return { success: false, message: 'Erreur lors de l’envoi de l’email', error };
}
}
}
