<template>
  <div>
    <header style="padding:1rem;border-bottom:1px solid #eee">
      <NuxtLink to="/">Home</NuxtLink> |
      <NuxtLink to="/about">About</NuxtLink> |
      <NuxtLink to="/admin">Admin</NuxtLink>
    </header>
    <main><slot /></main>
  </div>
</template>